NEXTAUTH_URL=http://localhost:5010
NEXTAUTH_SECRET=your-nextauth-secret-here
NEXT_PUBLIC_BACKEND_API_URL=https://your-api-url.example.com
AUTH_DEBUG="true"
COGNITO_CLIENT_ID=your-cognito-client-id
COGNITO_CLIENT_SECRET=your-cognito-client-secret
COGNITO_ISSUER=https://cognito-idp.ap-northeast-1.amazonaws.com/your-user-pool-id
COGNITO_REGION=ap-northeast-1
COGNITO_USER_POOL_ID=your-user-pool-id
NEXT_OTEL_VERBOSE=1
NEXT_PUBLIC_LLMS_API_URL=http://localhost:50054
