NEXTAUTH_URL=http://localhost:5010
NEXTAUTH_SECRET=S6V9IF14v9aKYdHpDqJNR3cljfiEFS7sJtwKaYWz9UE=
NEXT_PUBLIC_BACKEND_API_URL=https://b2yycfc6zrsys65xstai7hebf40wcwsi.lambda-url.ap-northeast-1.on.aws
AUTH_DEBUG="true"
COGNITO_CLIENT_ID=4ceiu7s2h9aujic0qfslej0spd
COGNITO_CLIENT_SECRET=10qicn9pcdngomaaahlq6dsf2h3sflgda96raj8jn4gqfrkg9tmo
COGNITO_ISSUER=https://cognito-idp.ap-northeast-1.amazonaws.com/ap-northeast-1_8Ga4bK5M4
COGNITO_REGION=ap-northeast-1
COGNITO_USER_POOL_ID=ap-northeast-1_8Ga4bK5M4
NEXT_OTEL_VERBOSE=1
NEXT_PUBLIC_LLMS_API_URL=http://localhost:50054
